.articles-list {
    display: grid;
    flex-direction: wrap;
    gap: 15px;
    margin-top: 30px;
    list-style: none; /* إزالة النقاط */
    padding: 0;
}

.articles-list a {
    display: block;
    padding: 15px 20px;
    background: #FFB6C1;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

.articles-list a:hover {
    background: #e91e63;
    color: white;
    transform: translateY(-2px);
}
